.dise-input{
    border: 1px solid #DEDEE4;
    border-radius: 10px;
    background: #DEDEE4;
  }
  .columnna{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .boton-carrito{
    background: #00A859;
    border-radius: 12px;
    color: white;
    text-align: center;
    height: 40px;
    width: 91%;
  }
  .columna_2{
    padding: 1.5% 6% 1.5% 6%;
  }