.background-red{
  background: #EC3239 !important;
}
.background-yellow{
  background: #FFCC29 !important;
}
.background-white{
  background: #fff !important;
}

.color-white{
  color: #fff !important;
}
.color-azul{
  color: #2E5394 !important;
}
.color-gris{
  color: #96989A !important;
}