.background-red{
  background: #EC3239 !important;
}
.background-yellow{
  background: #FFCC29 !important;
}
.background-white{
  background: #fff !important;
}
.background-gris{
  background: #96989A !important;
}
.background-gris-ligth{
  background: #f7f6fb !important;
  --background: #f7f6fb !important;
}

.color-white{
  color: #fff !important;
}
.color-red{
  color: #EC3239 !important;
}
.color-azul{
  color: #2E5394 !important;
}
.color-gris{
  color: #96989A !important;
}