<app-headermenu></app-headermenu>

<ion-content class="background">
  <div class="fondo">
  <ion-avatar class="ion-margin-top avatar">
    <img src="../../../assets/img/avatar.png">
  </ion-avatar>
  </div>
  <div class="ion-padding">
  <ion-card>
    <ion-item class="ion-activated">
        <img src="../../../assets/img/icon04.png" class="icono">
        <ion-card-header>
            <ion-card-subtitle>DNI</ion-card-subtitle>
            <ion-card-title>12345678</ion-card-title>
        </ion-card-header>
    </ion-item>
    <ion-item class="ion-activated">
        <img src="" class="icono">
        <ion-card-header>
            <ion-card-subtitle>NOMBRES</ion-card-subtitle>
            <ion-card-title>LUIS ALEJANDRO</ion-card-title>
        </ion-card-header>
    </ion-item>
    <ion-item class="ion-activated">
        <img src="" class="icono">
        <ion-card-header>
            <ion-card-subtitle>APELLIDOS</ion-card-subtitle>
            <ion-card-title>PINO VÁSQUEZ</ion-card-title>
        </ion-card-header>
    </ion-item>
    <ion-item class="ion-activated">
        <img src="../../../assets/img/icon05.png" class="icono">
        <ion-card-header>
            <ion-card-subtitle>E-MAIL:</ion-card-subtitle>
            <ion-card-title>demo@pyrushd.com</ion-card-title>
        </ion-card-header>
    </ion-item>
    <ion-item class="ion-activated">
        <img src="../../../assets/img/icon06.png" class="telefono">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-card-header>
                        <ion-card-subtitle>CELULAR 1:</ion-card-subtitle>
                        <ion-card-title>123456789</ion-card-title>
                    </ion-card-header>
                </ion-col>
                <ion-col size="6">
                    <ion-card-header>
                        <ion-card-subtitle>CELULAR 2:</ion-card-subtitle>
                        <ion-card-title>987654321</ion-card-title>
                    </ion-card-header>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item class="ion-activated">
        <img src="../../../assets/img/icon07.png" class="direccion">
        <ion-card-header>
          <ion-card-subtitle>DIRECCIÓN:</ion-card-subtitle>
          <ion-card-title>JR. BOCAYA 180 - LA ESPERANZA</ion-card-title>
        </ion-card-header>
    </ion-item>
</ion-card>
<ion-button expand="block" shape="round" color="amarillo">GUARDAR</ion-button>
</div>

</ion-content>
