<ion-header class="ion-no-border">
    <ion-toolbar color="rojo">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs"></ion-back-button>
        </ion-buttons>
        <app-headermenu></app-headermenu>
    </ion-toolbar>
</ion-header>

<ion-content class="background">
    <div class="background-gris-ligth">
        <div class="fondo">
            <img src="assets/img/cab.jpg">
            <div>
                <img *ngIf="photo" [src]="photo" class="photo">
            </div>
        </div>
        <div class="content ">
            <div class="row background-white mb-3 mt-3" *ngIf="client">

                <div class="col-md-12   dato">
                    <div class="fila">
                        <div class="icon">
                            <img src="assets/img/icon04.png" alt="">
                        </div>
                        <div class="input">
                            <label class="color-azul ml-2 mb-0">DNI</label>
                            <input [(ngModel)]="form.dni" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12  dato">
                    <div class="fila">
                        <div class="icon">
                            <img src="assets/img/icon04.png" alt="">
                        </div>
                        <div class="input">
                            <label class="color-azul ml-2 mb-0">NOMBRES Y APELLIDOS</label>
                            <input [(ngModel)]="form.names" type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-12  dato">
                    <div class="fila">
                        <div class="icon">
                            <img src="assets/img/icon05.png" alt="">
                        </div>
                        <div class="input">
                            <label class="color-azul ml-2 mb-0">E-MAIL</label>
                            <input [(ngModel)]="form.email" type="text" class="form-control">
                            <!--                            <p class="color-gris ml-2 w-100 mb-0">{{client.email}}</p>-->
                        </div>
                    </div>
                </div>

                <div class="col-md-12  dato">
                    <div class="fila">
                        <div class="icon">
                            <img src="assets/img/icon06.png" alt="" class="icon_cell">
                        </div>
                        <div class="input celular">
                            <label class="color-azul ml-2 mb-0">CELULAR 1</label>
                            <input [(ngModel)]="form.phone1" type="number"
                                   class="form-control">
                        </div>
                        <div class="input celular bl">
                            <label class="color-azul ml-2 mb-0">CELULAR 2</label>
                            <input [(ngModel)]="form.phone2" type="number"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12  dato">
                    <div class="fila">
                        <div class="icon">
                            <img src="assets/img/icon07.png" alt="" class="icon_cell">
                        </div>
                        <div class="input">
                            <label class="color-azul ml-2 mb-0">DIRECCIÓN</label>
                            <input [(ngModel)]="form.address" type="text"
                                   class="form-control">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn background-yellow ion-color-dark mb-1 w-100" (click)="save()">GUARDAR
                </button>
            </div>
        </div>
    </div>


</ion-content>
