<ion-header class="ion-no-border">
    <ion-toolbar color="rojo">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="{{this.urlBack}}" ></ion-back-button>
        </ion-buttons>
        <app-headermenu></app-headermenu>
    </ion-toolbar>
</ion-header>
<ion-content class="background-gris-ligth">
    <div class="container mb-3" *ngIf="product">
        <div class="row">
            <ion-slides pager="true" [options]="sliderOpt">
                <ion-slide *ngFor="let galery of product.galeries">
                    <img-loader [src]="environment.apiUrl+'/'+galery.imagen"   [useImg]="true"></img-loader>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="row">
            <div class="ion-padding color-gris w-100">
                <p>{{product.name}}</p>
                <p>{{product.descripcion}}</p>
                <p class="price">S/. {{ product.offer == 'SI' ? product.offer_price.toFixed(2) : product.price.toFixed(2)}}</p>
            </div>
            <div class="col-md-7">
                <span class="mr-2">Cantidad</span>
                <button class="rad" (click)="add(-1)">-</button>
                <span class="ml-2 mr-2">{{product.qty}}</span>
                <button class="rad" (click)="add(+1)">+</button>
            </div>
            <div class="col-md-5">
            <span>Stock: {{product.stock}}</span>
            </div>
            <div class="col-md-12 pt-3" *ngIf="!product.stock">
                <span class="color-red">No disponible</span>
            </div>
            <div class="col-md-12 mt-3">
                <button class="btn background-yellow w-100 btn-add" [disabled]="!product.stock" (click)="addCart()">Agregar</button>
            </div>
        </div>
    </div>

</ion-content>
