.container{
    font-size: 12px;
    .row{
        .rad{
            width: 25px;
            height: 25px;
            padding: 0;
            border-radius: 50px;
            background: #d9dcde;
        }
        .price{
            font-size: 16px;
            color: #000;
            font-weight: 600;
        }
        .btn-add{
            border-radius: 15px;
        }
        p, ul{
            margin-bottom: 0.5rem;
        }
    }
}
ion-title {
    text-align: center;
    font-size: 15px;
}

ion-card-subtitle {
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 18px;
}

ion-content {
    text-align: center;
}

ion-card-content {
    color: #96989A;
}

ion-slides {
    --bullet-background-active: red;
}

.stock{
    position: relative;
    left: 55px;
    font-size: 13px;
}

.cantidad {
    position: relative;
    right: 55px;
    font-size: 13px;
}

.cantidadlistado{
    background-color: #EAEDF2;
    color: #000;
    border-radius: 40px;
}