.slider{
    background: url('src/assets/img/back01.jpg');
    background-size: 100% auto;
}

.container{
    background: #f7f6fb;
    div{
        button{
            font-weight: bold;
            padding: 5%;
            border-radius: 20px;
            font-size: 12px;
            width: 100%;
        }
    }
    .ofert, .prod{
        margin: 0;
    }
    .ofert, .prod{
        position: relative;
        div{
            p{
                font-size: 11px;
                margin: 0.5rem 0;
            }
        }
        .desc{
            padding: 1% 5px;
        }
    }
    .title{
        font-size: 12px;
    }
}
.slider{
    position: relative;
}
app-headermenu{
    width: 100%;
    display: block;
}
ion-slides{
    ion-slide.products{
        width: 70%!important;
    }
    ion-slide.offers{
        width: 32%!important;
    }
}
