.slider{
    background: url('src/assets/img/back01.jpg');
    background-size: 100% auto;
}

.container{
    background: #f7f6fb;
    div{
        button{
            font-weight: bold;
            padding: 5%;
            border-radius: 20px;
            font-size: 12px;
            width: 100%;
        }
    }
    .ofert, .prod{
        margin: 0;
    }
    .ofert, .prod{
        position: relative;
        div{
            padding: 1% 5px;
            p{
                font-size: 11px;
            }
        }
    }
    .title{
        font-size: 12px;
    }
}
.slider{
    position: relative;
}
app-headermenu{
    width: 100%;
    display: block;
}
