<ion-header class="ion-no-border" translucent>
    <ion-toolbar color="rojo">
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false" menu="first"></ion-menu-button>
        </ion-buttons>
        <app-headermenu></app-headermenu>
    </ion-toolbar>
</ion-header>

<ion-content class="background-gris-ligth">
    <div class="slider slider-principal">
        <div class="ion-padding">
            <ion-slides pager="true" [options]="sliderOpt">
                <ion-slide *ngFor="let slider of sliders">
                    <img-loader [src]="environment.apiUrl+'/'+slider.imagen"   [useImg]="true"></img-loader>
                </ion-slide>

            </ion-slides>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="color-azul title">
                    <i class="fa fa-check-circle"></i>
                    Ofertas
                </span>
                <span class="color-gris ion-float-right title" (click)="goProducts('OFERTAS')">Ver más</span>

            </div>
            <div class="w-100 ofert row">
                <ion-slides [options]="slideOptsOne" style=" margin: 0 15px;">
                    <ion-slide *ngFor="let offer of offers"  class="offers">
                        <div class="background-white text-center" *ngIf="offer.id" (click)="goDetail(offer)">
                            <div>
                                <img-loader [src]="environment.apiUrl+'/'+offer.imagen"   [useImg]="true"></img-loader>
<!--                                <img-loader src="http://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-buzz.png"-->
<!--                                            [useImg]="true"></img-loader>-->
                            </div>
                            <div>
                                <button class="background-yellow">
                                    S/. {{offer.offer_price.toFixed(2)}}
                                </button>
                                <p class="color-gris">
                                    <!--                                    {{offer.name.length > 15 }}-->
                                    <!--                                    {{ (offer.name.length >= 14) ? (offer.name | slice:0:14) + '...' : ((offer.name) }}-->
                                    {{offer.name.length > 15 ? (offer.name | slice:0:14) + '...' : offer.name}}
                                </p>
                            </div>
                        </div>
                    </ion-slide>

                </ion-slides>


            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="color-azul title">
                    <i class="fa fa-check-circle"></i>
                    Todos los productos
                </span>
                <span class="color-gris ion-float-right title" (click)="goProducts('PRODUCTOS')">Ver más</span>

            </div>
            <div class="w-100 prod row mb-3">
                <ion-slides [options]="sliderProduct" style=" margin: 0 15px;">
                    <ion-slide *ngFor="let product of products" [class.products]="products.length < 2" class="products">
                        <div class="background-white text-center" *ngIf="product.id" (click)="goDetail(product)">
                            <div>
                                <img [src]="environment.apiUrl+'/'+product.imagen" alt="">
                            </div>
                            <div>
                                <button class="background-yellow">
                                    S/. {{product.price.toFixed(2)}}
                                </button>
                                <p class="color-gris">{{product.name}}</p>
                            </div>
                        </div>
                    </ion-slide>


                </ion-slides>
            </div>
        </div>

    </div>

</ion-content>
