<ion-header class="ion-no-border" translucent>
    <ion-toolbar color="rojo">
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false" menu="first"></ion-menu-button>
        </ion-buttons>
        <app-headermenu></app-headermenu>
    </ion-toolbar>
</ion-header>

<ion-content class="background-gris-ligth">
    <div class="slider slider-principal">
        <div class="ion-padding">
            <ion-slides pager="true" [options]="sliderOpt">
                <ion-slide *ngFor="let slider of sliders">
                    <img-loader [src]="environment.apiUrl+'/'+slider.imagen" [useImg]="true"></img-loader>
                </ion-slide>

            </ion-slides>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-2">
                <span class="color-azul title">
                    <i class="fa fa-check-circle"></i>
                    Ofertas
                </span>
                <span class="color-gris ion-float-right title" (click)="goProducts('OFERTAS')">Ver más</span>

            </div>
            <div class="w-100 ofert row">
                <ion-slides [options]="slideOptsOne" style=" margin: 0 15px;" class="w-100">
                    <ion-slide *ngFor="let offer of offers">
                        <div class="background-white text-center" *ngIf="offer.id" (click)="goDetail(offer)">
                            <div>
                                <img-loader [src]="environment.apiUrl+'/'+offer.imagen" [useImg]="true"></img-loader>
                                <!--                                <img-loader src="http://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-buzz.png"-->
                                <!--                                            [useImg]="true"></img-loader>-->
                            </div>
                            <div class="desc">
                                <button class="background-yellow">
                                    S/. {{offer.offer_price.toFixed(2)}}
                                </button>
                                <p class="color-gris">
                                    <!--                                    {{offer.name.length > 15 }}-->
                                    <!--                                    {{ (offer.name.length >= 14) ? (offer.name | slice:0:14) + '...' : ((offer.name) }}-->
                                    {{offer.name.length > 15 ? (offer.name | slice:0:14) + '...' : offer.name}}
                                </p>
                            </div>
                        </div>
                    </ion-slide>

                </ion-slides>


            </div>

        </div>
        <div class="row mt-3">
            <div class="col-md-12 mb-2">
                <span class="color-azul title">
                    <i class="fa fa-check-circle"></i>
                    Todos los productos
                </span>

            </div>
            <div class="w-100 prod row mb-3 ion-padding">
                <div class="col-md-6" *ngFor="let product of products">
                    <div class="background-white text-center">
                        <div class="" (click)="goDetail(product)">
                            <img-loader [src]="environment.apiUrl+'/'+product.imagen" [useImg]="true"></img-loader>
                        </div>
                        <div class="content text-center">

                            <div class="buttons">
                                <button class="btn background-yellow w-100 btn-add" (click)="goDetail(product)">
                                    S/.  {{ product.offer == 'SI' ? product.offer_price.toFixed(2) : product.price.toFixed(2)}}
                                </button>
                            </div>
                            <p>   {{product.name.length > 17 ? (product.name | slice:0:17) + '...' : product.name}}</p>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
                    <ion-infinite-scroll-content>
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>

    </div>

</ion-content>
