.slider {
  background: url('src/assets/img/back01.jpg');
  background-size: 100% auto;
}

.container {
  background: #f7f6fb;

  div {
    button {
      font-weight: bold;
      padding: 5%;
      border-radius: 20px;
      font-size: 12px;
      width: 100%;
    }
  }

  .ofert, .prod {
    margin: 0;
  }

  .ofert, .prod {
    position: relative;

    div {
      p {
        font-size: 11px;
        margin: 0.5rem 0;
      }
    }

    .desc {
      padding: 1% 5px;
    }
  }

  .prod {
    .col-md-6 {
      padding: 1% 5px;
      margin-bottom: 2%;
      .buttons{
        .rad{
          background: #fff;
          border-radius: 50px;
          padding: 0%;
          width: 25px;
          height: 25px;
        }
        .btn-add{
          border-radius: 10px;
          padding: 2%;
        }
      }
      .content {
        font-size: 12px;
        background: #fff;
        padding: 7% 4%;
        button {
          font-size: 12px;
          font-weight: bold;
        }
        p{
          margin-bottom: 2%;
        }
      }
    }

  }

  .title {
    font-size: 12px;
  }
}

.slider {
  position: relative;
}

app-headermenu {
  width: 100%;
  display: block;
}

ion-slides {
  ion-slide.products {
    width: 70% !important;
  }

  ion-slide.offers {
    width: 32% !important;
  }
}
