<ion-tabs>

  <ion-tab-bar slot="bottom" color="white" >
    <ion-tab-button routerLink="/tabs/principal" routerLinkActive="red" class="icon1">
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/categorias"  routerLinkActive="red" class="icon2">
    </ion-tab-button>

    <ion-tab-button routerLink="/tabs/sedes"  routerLinkActive="red" class="icon3">
    </ion-tab-button>

    <ion-tab-button
            onclick="window.open('https://wa.me/+51936841792?text=Hola%20necesito%20información%20de%20un%20producto', 'location=yes');
             return false;"  routerLinkActive="red" class="icon4">

    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
