<app-headermenu></app-headermenu>
<app-headertitulo title="Categorías"></app-headertitulo>

<ion-content class="background">
    <div class="ion-padding">
        <ion-chip class="ion-margin-start">
            <ion-avatar>
              <img src="../../../assets/img/icon08.png">
            </ion-avatar>
            <ion-label>Accesorios para vehículos, motos y bicicletas</ion-label>
        </ion-chip>

        <ion-chip class="ion-margin-start">
            <ion-avatar>
              <img src="../../../assets/img/icon10.png">
            </ion-avatar>
            <ion-label>Accesorios para mascotas</ion-label>
        </ion-chip>

        <ion-chip class="ion-margin-start">
            <ion-avatar>
              <img src="../../../assets/img/icon09.png">
            </ion-avatar>
            <ion-label>Belleza y cuidado personal</ion-label>
        </ion-chip>

        <ion-chip class="ion-margin-start">
            <ion-avatar>
              <img src="../../../assets/img/icon11.png">
            </ion-avatar>
            <ion-label>Electrónico</ion-label>
        </ion-chip>

        <ion-chip class="ion-margin-start">
            <ion-avatar>
              <img src="../../../assets/img/icon12.png">
            </ion-avatar>
            <ion-label>Consolas y Videojuegos</ion-label>
        </ion-chip>

        <ion-chip class="ion-margin-start">
            <ion-avatar>
              <img src="../../../assets/img/icon13.png">
            </ion-avatar>
            <ion-label>Cámaras y Accesorios</ion-label>
        </ion-chip>
    </div>
</ion-content>
