<ion-header class="ion-no-border" translucent>
    <ion-toolbar color="rojo">
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false" menu="first"></ion-menu-button>
        </ion-buttons>
        <app-headermenu></app-headermenu>
    </ion-toolbar>
</ion-header>
<app-headertitulo title="Categorías"></app-headertitulo>

<ion-content class="background">
    <div class="ion-padding pt-0">
        <ion-chip *ngFor="let category of categories"
                class="ion-margin-start mb-2" (click)="goProducts(category)">
            <ion-avatar>
                <img [src]="environment.apiUrl+'/'+category.imagen">
            </ion-avatar>
            <ion-label>{{category.name}}</ion-label>
        </ion-chip>

    </div>
    <!--    <div class="ion-padding">-->
    <!--        <ion-chip class="ion-margin-start">-->

    <!--        </ion-chip>-->


    <!--        <ion-chip class="ion-margin-start">-->
    <!--            <ion-avatar>-->
    <!--                <img src="../../../assets/img/icon09.png">-->
    <!--            </ion-avatar>-->
    <!--            <ion-label>Belleza y cuidado personal</ion-label>-->
    <!--        </ion-chip>-->

    <!--        <ion-chip class="ion-margin-start">-->
    <!--            <ion-avatar>-->
    <!--                <img src="../../../assets/img/icon11.png">-->
    <!--            </ion-avatar>-->
    <!--            <ion-label>Electrónico</ion-label>-->
    <!--        </ion-chip>-->

    <!--        <ion-chip class="ion-margin-start">-->
    <!--            <ion-avatar>-->
    <!--                <img src="../../../assets/img/icon12.png">-->
    <!--            </ion-avatar>-->
    <!--            <ion-label>Consolas y Videojuegos</ion-label>-->
    <!--        </ion-chip>-->

    <!--        <ion-chip class="ion-margin-start">-->
    <!--            <ion-avatar>-->
    <!--                <img src="../../../assets/img/icon13.png">-->
    <!--            </ion-avatar>-->
    <!--            <ion-label>Cámaras y Accesorios</ion-label>-->
    <!--        </ion-chip>-->
    <!--    </div>-->
</ion-content>
