.container{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    height: 100%;


}
.content{
    .btn{
        border-radius: 10px;
    }
}
ion-grid {
    --ion-grid-padding: 30px;
}

.text-center{
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72%;
}

ion-label {
    color: #96989A;
}

.logo {
    width: 300px;
    position: relative;
    top: 5em;    
}