
<ion-content >
  
  <div class="container">
    <img src="../../../assets/img/iconapp.png" class="logo">
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-padding text-center">
            <ion-label>Inicio de Sesion</ion-label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <section class="full-width">
            <ion-button expand="block" color="rojo">
            <ion-icon slot="start" name="logo-facebook" color="primary"></ion-icon>
              Continue con Facebook
            </ion-button>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
