<!--<ion-header class="ion-no-border" translucent>-->
<!--  <ion-toolbar color="rojo">-->
<!--    <ion-buttons slot="start">-->
<!--      <ion-menu-button auto-hide="false" menu="first"></ion-menu-button>-->
<!--    </ion-buttons>-->
<ion-buttons class="ion-float-left" style="width: 80%">
    <div class="search w-100">
        <input placeholder="Buscar" type="text" class="">
        <i class="fa fa-search"></i>
    </div>
</ion-buttons>
<ion-buttons slot="end" style="width: 20%" class="ion-float-left mt-2">
    <img src="assets/img/icon01.png" class="ml-2"/>
    <img src="assets/img/icon02.png" class="ml-2"/>
</ion-buttons>
<!--  </ion-toolbar>-->
<!--</ion-header>-->