
ion-col {
    --ion-grid-column-padding-xs: 12;
    --ion-grid-column-padding-sm: 6;
    --ion-grid-column-padding-md: 4;
    --ion-grid-column-padding-lg: 3;
}

ion-card {
    background-color: #F6F7FB;
}

ion-card-title {
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

ion-card-content{
    text-align: center;
    color: #000000;
}

ion-card-subtitle {
    text-align: center;
}

ion-label {
    --color: #000;
}

.cantidadlistado{
    background-color: #fff;
    color: #000;
    border-radius: 50px;
}

.agregar {
    background-color: #FFCC29;
}