/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "assets/scss/color";
@import "assets/scss/col";

div, input, img, button, span{
  outline: 0;
  &:focus {
    box-shadow: none;
    outline:0;
    -webkit-box-shadow:none;
  }
}

.slider-principal{
  ion-slides{
    position: inherit !important;
    .swiper-pagination-bullet{
      background: #96989A ;
    }
    .swiper-pagination-bullet-active{
      background: #ec3239;
    }
    .swiper-pagination{
      bottom: -7px !important;
    }
  }

}
.mitad {
  width: 48%;
}

.cuarta {
  width: 31%;
  input{
    padding: 5% 15% !important;
  }
}
.two-column{
  display: flow-root;
}
ion-radio-group {
  ion-item {
    --border-color: transparent;
  }

  ion-radio {
    margin-right: 10px;
    --ion-color-base: #ED3337 !important;
  }

  .item .sc-ion-label-md-h {
    font-size: 12px;
  }
}
.hidden{
  display: none;
}
ion-alert {
  text-align: center;
  .alert-wrapper.sc-ion-alert-md{
    border-radius: 20px;
    width: 100%;
    max-width: 80%;
  }
  .alert-head.sc-ion-alert-md {
    text-align: center;
  }

  .alert-title.sc-ion-alert-md {
    font-size: 15px;
  }

  .alert-message.sc-ion-alert-md {
    font-size: 14px;
    padding: 0 5% 5% !important;
    img{
      width: 40px;
    }
  }
  .alert-button-group.sc-ion-alert-md{
    justify-content: center;
  }

  &.detalle {
    .alert-button.sc-ion-alert-md {
      width: 100%;
      .alert-button-inner.sc-ion-alert-md {
        justify-content: center;
      }
    }
  }
}
ion-loading{
  .loading-wrapper.sc-ion-loading-md{
    background: #fff;
    color: #2F73B8;
    border-radius: 15px;
  }
}