<ion-header class="ion-no-border">
    <ion-toolbar color="rojo">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="color-white text-center">Tu pedido</ion-title>
        <ion-buttons slot="end" style="min-width: 48px;">
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="background-gris-ligth">
    <div class="ion-padding" >
        <div class="w-100 background-white content">
            <div class="title">
                <span><img src="assets/img/icon07.png"></span>
                <span class="color-azul ml-3">DATOS DE ENTREGA</span>
            </div>
            <div class="mt-3 mb-2">
                <!--        <app-control-message [control]="form.get('names')">-->
                <input type="text" placeholder="Dirección" class="w-100">
                <!--        </app-control-message>-->
            </div>
            <div class="mb-2">
                <textarea rows="3" placeholder="Referencia" class="w-100 mb-2"></textarea>
            </div>

            <div class="title">
                <span><img src="assets/img/icon04.png" class="w-20"></span>
                <span class="color-azul ml-3">COMPROBANTE DE PAGO</span>
            </div>
            <div class="mb-2">
                <ion-list class="background-white">
                    <ion-radio-group [value]="form.value.type_voucher">
                        <ion-item class="w-50 ion-float-left background-white">
                            <ion-label class="color-gris">BOLETA</ion-label>
                            <ion-radio color="secundary" slot="start" value="BOLETA"
                                       (click)="changeVoucher($event)"></ion-radio>
                        </ion-item>
                        <ion-item class="w-50 ion-float-right background-white">
                            <ion-label class="color-gris">FACTURA</ion-label>
                            <ion-radio color="secundary" slot="start" value="FACTURA"
                                       (click)="changeVoucher($event)"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
                <div *ngIf="form.value.type_voucher == 'BOLETA'; else factura" class="mt-5">
                    <input [value]="form.value.names" type="text" placeholder="Datos" class="w-100 mb-2" disabled>
                    <input [value]="form.value.dni" type="text" placeholder="Datos" class="w-100 mb-2" disabled>
                    <input [value]="form.value.address" type="text" placeholder="Datos" class="w-100 mb-2" disabled>
                </div>
                <ng-template #factura>
                    <div class="mt-5" #tarjeta>
                        <div class="mb-2">
<!--                            <app-control-message [control]="form.get('business_name')">-->
                                <input  type="text" placeholder="Razón Social" class="w-100 ">
<!--                            </app-control-message>-->
                        </div>
                        <div class="mb-2">
<!--                            <app-control-message [customMessages]="{pattern: 'Sólo se permiten números'}"-->
<!--                                                 [control]="form.get('ruc')">-->
                                <input  type="text" placeholder="RUC" class="w-100">
<!--                            </app-control-message>-->
                        </div>
                        <div class="mb-2">
<!--                            <app-control-message [control]="form.get('business_address')">-->
                                <input  type="text" placeholder="Dirección" class="w-100">
<!--                            </app-control-message>-->
                        </div>
                    </div>

                </ng-template>
            </div>
            <div class="title">
                <span><img src="assets/img/pedidos02.png" class="w-20"></span>
                <span class="color-azul ml-3">MÉTODO DE PAGO</span>
            </div>
            <ion-list class="background-white">
                <ion-radio-group [value]="form.value.type_pay">
                    <ion-item class="w-50 ion-float-left background-white">
                        <ion-label class="color-gris">EFECTIVO</ion-label>
                        <ion-radio color="secundary" slot="start" value="EFECTIVO"
                                   (click)="changePago($event)"></ion-radio>
                    </ion-item>
                    <ion-item class="w-50 ion-float-right background-white">
                        <ion-label class="color-gris">TARJETA</ion-label>
                        <ion-radio color="secundary" slot="start" value="TARJETA"
                                   (click)="changePago($event)"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <div *ngIf="form.value.type_pay == 'EFECTIVO'; else tarjeta" class="mt-2 mb-2">
<!--                <app-control-message [control]="form.get('amount_pay')">-->
                    <input type="number" placeholder="Con cuanto va a pagar" class="w-100">
<!--                    <span class="text-danger" *ngIf="amountLesser">Monto debe ser mayor al total</span>-->
<!--                </app-control-message>-->
            </div>

            <ng-template #tarjeta>
                <div class="mt-5" #tarjeta >
<!--                    <app-control-message [control]="form.get('email')">-->
                        <input data-culqi="card[email]" id="card[email]"
                               [value]="form.value.email"
                               type="text" placeholder="Correo Electronico" class="w-100 mb-2">
<!--                    </app-control-message>-->
                </div>
                <div>
                    <div class="mb-2">
<!--                        <app-control-message [control]="formCulqi.get('card')">-->
                            <input data-culqi="card[number]" id="card[number]"
                                   type="number" placeholder="Número de Tarjeta" class="w-100">
<!--                        </app-control-message>-->
                    </div>
                    <div class="two-column">
                        <div class="cuarta float-left  mb-2">
<!--                            <app-control-message [control]="formCulqi.get('month')">-->
                                <input  data-culqi="card[exp_month]" id="card[exp_month]"
                                       type="number" placeholder="Mes" class="w-100">
<!--                            </app-control-message>-->
                        </div>
                        <div class="cuarta float-left  mb-2 ml-2">
<!--                            <app-control-message [control]="formCulqi.get('year')">-->
                                <input  data-culqi="card[exp_year]" id="card[exp_year]"
                                       type="number" placeholder="Año" class="w-100">
<!--                            </app-control-message>-->
                        </div>
                        <div class="cuarta float-left  mb-2 ml-2">
<!--                            <app-control-message [control]="formCulqi.get('cvv')">-->
                                <input data-culqi="card[cvv]" id="card[cvv]"
                                       type="number" placeholder="CVV" class="w-100">
<!--                            </app-control-message>-->
                        </div>
                    </div>
                </div>

            </ng-template>
        </div>
        <div class="w-100 ion-text-right monto mt-3">
            <p class="color-gris">Subtotal: s/. 42.00</p>
            <p class="color-gris">I.G.V.: s/. 0.00</p>
            <h5 class="color-red">Total: s/. 2000</h5>
        </div>

        <div class="col-md-12 mt-3">
            <button class="btn background-yellow w-100 btn-add">Finalizar Compra</button>
        </div>
    </div>
</ion-content>
